BasedOnStyle:                              LLVM
Language:                                  Cpp
IndentWidth:                               8
UseTab:                                    Always
BreakBeforeBraces:                         Linux
AllowShortIfStatementsOnASingleLine:       false
AllowShortFunctionsOnASingleLine:		   None
IndentCaseLabels:                          false
SortIncludes:                              false
ContinuationIndentWidth:                   8
ColumnLimit:                               96
